# Ignora i file con le seguenti estensioni
*.slxc
*.elf
*.eep
*.tmp

# Ignora le cartelle/sottocartelle slprj e il loro contenuto
slprj/
controller_arduino_ert_rtw/

# Ignora i file che iniziano con tilde (~)
*~

